@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #00BBC9 ;
    width: auto;
    padding: 2em;
    color: white;
    margin-top: 112.88px;
}
.informacion{
    display: flex;
    flex-direction: column;
    margin-left: 3em ;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
}