.information{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    flex-wrap: wrap;
    font-size: 14px;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
}
h2 {
    margin-left: 2em;
    margin-top: 2em;
}